Welcome back!

You can execute the cells using shift + enter

Now, let's understand some of the built-in functions in Python.

As we discussed earlier, built-in functions in Python are pre-defined functions that are available as part of the Python programming language.

These functions are ready to use and provide commonly used functionality to simplify coding tasks.

In [ ]:
myname = "Pikachu"

Let's check out len() function, this actually returns the number of characters in a string or number of items in collection

In [ ]:
len(myname)

Let's find the total number of items in a collection using the len() function.

In [ ]:
my_collect = ["Apple","Bananana","Car"]

In [ ]:
len(my_collect)

let's also check the abs() built-in function, which actually returns the absolute value of a number

In [ ]:
a= -42.745

b= 36.24

c=-8

In [ ]:
abs(a)

In [ ]:
abs(b)

In [ ]:
abs(c)

In [ ]:
d="Pikachu"

can you find absolute value of a string/text?

In [ ]:
abs(d)

From the above output, we can conclude that abs() works with numbers

Till now, we came across integers, complex numbers, strings but not the binary. Let's check out how we can convert a number into binary.

In [ ]:
x = 99

In [ ]:
type(x)

To convert 'x' into binary, we use bin() in-built function.

In [ ]:
bin(x)

From the above output, '0b1100011', 0b- means binary and the values next to it are the actual binary value of 'x'

Till now, we have come across the operations that we could perform with integers, strings and some collections.
But how can we know that what operations can be performed on specific types.

For that, we use an in built function dir().

Lets check for strings, We will use the earlier defined variable 'myname' which holds string in it

In [ ]:
dir(myname)

Lets check for collections, We will use the earlier defined variable 'my_collect' which holds list of items in it

In [ ]:
dir(my_collect)

Lets check for integers, We will use the earlier defined variable 'x' which holds integer value in it

In [ ]:
dir(x)

Now, lets work with range() function

This function generates sequence.


The default range starts from 0

In [ ]:
range (5)

In the output (0,5), 5 is excluded, means range (5) generates values- 0,1,2,3,4

So, range(n) -> values are from 0 to (n-1)

In [ ]:
range(1,10,2)

The first agrument in the range function, genrates values from 1 to 9 with a step of 2, so the values would be 1,3,5,7,9

Now, lets check ord() function.


The ord() function returns the number representing the unicode code of a specified character.

In [ ]:
ord('A')

In [ ]:
ord('a')

In [ ]:
ord('b')

We came across the ord() which returns unicode of a specified character, now what if we want the character of a specified unicode.

For that we will use chr() function.

The chr() function returns the character that represents the specified unicode.

In [ ]:
chr(97)

In [ ]:
chr(106)

lets check the value of our variable 'x'

In [ ]:
print(x)

let us use oct() function which  converts an integer into an octal string.

Octal strings in Python are prefixed with 0o.

In [ ]:
oct(x)

In [ ]:
y = oct(12)

In [ ]:
print(y)

Similarly, with the help of hex() function , we can convert the specified number into a hexadecimal value.

The returned string always starts with the prefix 0x.

In [ ]:
z = hex(255)

In [ ]:
print(z)

In [ ]:
hex(63)

Now, we will check out next() function.


The next() function returns the next item in an iterator.

You can add a default return value, to return if the iterable has reached to its end.

In [ ]:
lst= iter(["apple", "banana", "cat"])

In [ ]:
type(lst)

In [ ]:
t = next(lst)

In [ ]:
print(t)

In [ ]:
t= next(lst)

In [ ]:
print(t)

In [ ]:
t=next(lst)

print(t)

Now, I don't have any elements in my list_iterator, so lets execute next() again and see what it actually do

In [ ]:
t=next(lst)

In this case, we can include default value, when no value is left for the next iteration.


This is how we do:

In [ ]:
t = next(lst,"Chocolate")

In [ ]:
print(t)

lets check the next function, sum(). This function takes two agruments,


1.   Iterable-required argument
2.   start (which means the summation should start from specifed number and add the iterables)  - optional argument

In [ ]:
tup = (1, 2, 3, 4, 5)
S = sum(tup)
print(S)

In [ ]:
S =sum(tup,6)
print(S)

From the above output, we can conclude that, second argument in sum() function will get added to the sum of iterables

Let us check out what eval() function.

The eval() function in Python is used to evaluate a string as a Python expression and returns the result.

It takes a string argument, which represents a valid Python expression, and executes it.

In [ ]:
expression = "2 + 3 * 4"
result = eval(expression)

In [ ]:
print(result)

Now let us check out format() function.

The format() method in Python is used to format a string by replacing placeholders {} with corresponding values.

It supports various formatting options to control alignment, precision, number representation, and more, providing flexibility in generating formatted output

Let's work with some examples.

In [ ]:
value = "Hello"

If you want to left align it:

In [ ]:
formatted = "{:<10}".format(value)
print(formatted)

If you want to right align the result, then

In [ ]:
formatted = "{:>10}".format(value)
print(formatted)

If you want to center align the result, then

In [ ]:
formatted = "{:^10}".format(value)
print(formatted)

If you want to format a number to binary, then

In [ ]:
value2 = 10

In [ ]:
formatted = "{:b}".format(value2)
print(formatted)

If you want format a number to its corresponding unicode character, then

In [ ]:
value3 = 65

In [ ]:
formatted = "{:c}".format(value3)
print(formatted)

If you want to format a value to octal, then

In [ ]:
formatted = "{:o}".format(value3)
print(formatted)

If you want to use a plus sign for positive or negative values, then

In [ ]:
formatted = "{:+}".format(value3)
print(formatted)

Let us check help() function,

The help() function in Python is a built-in function that provides a helpful description and documentation about modules, functions, classes, methods, and other objects in Python.

It is an interactive tool that allows you to access the documentation directly from the Python interpreter or within your code.

In [ ]:
help(value3)

In the above cell, we have given an object as argument in help(). The output has given possible documentation and description

Similarly we can use min(), max() on to find the minimum and maximum values from the iterable.

Here's how we can do it,

In [ ]:
min(tup)

'tup' was the iterable that we defined earlier, which contains values 1,2,3,4,5.

In [ ]:
max(tup)