Welcome back!

You can execute the cells using shift + enter

Now, lets understand Tuples

### Tuple
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and immutable.

Tuples are written with round brackets.

In [ ]:
t = ()
type(t)

In [ ]:
t = ("apple", "banana", "cherry", "apple", "cherry")

In [ ]:
print(t)

In [ ]:
# Count() is used for counting the element of the tuple
t.count('apple')

In [ ]:
# index() is used for accessing the element
t[2]

Slicing operator on tuple

I want to create a new tuple of elements from index 1 to 3

In [ ]:
t2 =t[1:3]

In [ ]:
print(t2)

In [ ]:
type(t2)

Operators with tuple

In [ ]:
print(t)
print(t2)

Now, I want to add 't' and 't2'

In [ ]:
t3 = t + t2

In [ ]:
print(t3)

I want to multiple the elemetnts in 't4'

In [ ]:
t4 = t3*2

In [ ]:
t4

In the above output, tuple t4 consists elements of t2 which are repeated 2 times

Now, lets compare two tuples, using comparsiosn operator. Here, element by element comparision takes place.

In [ ]:
a= (1,2,3)
b=(1,2,3)
c=(1,2,4)

Comparing tuple 'a' and 'b'.

In [ ]:
a == b

As both the tuples contain same elemets at the same indices, the resulant is true

In [ ]:
a == c

As both the tuples doesn't contain same elemets at the same indices, the resulant is False

In [ ]:
a > b

In [ ]:
a >= b

What will be the output of c>a?

In [ ]:
#Try yourself in this cell